.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.background{
    background-color: rgb(19, 136, 245);
    padding-top: 50px;
    padding-bottom: 10px;
}

#pattern{
    background-image: url('../img/pattern.png');
    background-size: 30%;
    background-position: top;
}

.backgroundb{
    background-color: rgba(51, 214, 255, 0.548);
}

.backgroundc{
    background-color: rgb(19, 136, 245);
}
.photobackground{
    background-image: url('../img/monitor.jpg');
    background-size: cover;
    width: 200px;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
}

.photoback{
    background-image: url('../img/graph.jpg');
    background-size: cover;
    width: 200px;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
}

bt{
    color: rgb(19, 136, 245);
}
wt{
    color: white;
}
yt{
    background-color: yellow;
}
ti{
    color: white;
}